.reflections-container {
    padding: 2% 5%;
    flex-direction: row;
    gap: 10%;
    justify-content: space-between;
}

.reflections-container > div {
    margin: 1%;
    flex: 1;
    text-align: center;
}

.poem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.poem-stanza {
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

.poem-title {
    font-size: 3rem;
    line-height: normal;
}
.info {
    font-style: italic;
    font-weight: bold;
}

.poem-stanza.show:not(.poem-title) {
    transition: ease-in-out 1s;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.reflections-container h2 {
    font-size: 3rem;
    font-weight: 400;
}

.reflections-container button, .reflections-container button:hover {
    font-size: 1.5rem;
    margin: 0 auto;
    border: none;
    color: black;
    text-decoration: underline;
    background: none;
    width: fit-content;
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 1200px) {
    .reflections-container {
        flex-direction: column;
        gap: 2rem;
    }
    .reflections, .case-studies {
        opacity: 0;
        animation: div-fade-in forwards 1s 40s ease-in-out;
    }
}

@keyframes div-fade-in {
    100% {
        opacity: 1;
    }
}